* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}
.part {
  position: relative;
}
.box {
  float: left;
  width: 50px;
  height: 50px; 
  text-align: center;
  line-height: 50px;
  border: 1px solid #000000;
  border-radius: 10px;
}
